@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width:450px){
  .heart{
    height: 55px;
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .card{
    width: 100%!important;
    max-height: 200px!important;
    height: 200px!important;
  }
  .mBall{
    height: 70px!important;
    width: 70px!important;
    font-size: 1.3rem!important;
    margin-left: 1rem!important;
  }
  .heart{
    height: 75px!important;
    width: 75px!important;
  }
  .chart{
    width: fit-content;
    height: 50px;
    margin-left: 1rem!important;
  }
  .mobileTabs{
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 2.5rem;
  }
  .mobileFont{
    font-size: .75rem!important;
  }
}
*{
  transition: .2s;
  scroll-behavior: smooth;
}

.recent{
  top: 42%;
}
.text{
  font-size: .7rem;
}

.tabs{
transition: .1s;
}
.tabs.active{
  color: rgb(74 222 128);
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}